@page
@model Tracking_Events.Pages.Account.Manage.ManageVenuesModel

@{
    ViewData["Title"] = "Manage Venues";
}

<h2>@ViewData["Title"]</h2>
@Html.Partial("./Account/Manage/_StatusMessage", Model.StatusMessage)

<p>
    <a asp-page="/Account/RegisterVenue">Register a new location</a>
</p>
<form class="form-inline" asp-page="./ManageVenues" method="get" >
    <div class="form-group">
        <label>Venue Name:</label>
        <input name="search" value="@Model.Search" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Filter" class="btn btn-info btn-sm" /> |
        <a asp-page="./ManageVenues">Back to full list</a>
    </div>
</form>
<table class="table table-striped table-hover">
    <thead>
        <tr class="info">
            <th>
                @Html.DisplayNameFor(model => model.Venues[0].VenueName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venues[0].VenueType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Venues)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VenueName)
                </td>
                <td>
                    @(((Account.VenueType)item.VenueType).ToString())
                </td>
                <td>
                    <a asp-page="./ManageVenuesEdit" asp-route-id="@item.VenueID">Edit</a> |
                    <a asp-page="./ManageVenuesDelete" asp-route-id="@item.VenueID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
